@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&family=Raleway:wght@300;400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* common style */
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    color: #252422;
}

:focus {
    outline: 0;
}

ol,
ul {
    list-style: none;
}

form {
    margin: 0;
}

button,
input {
    line-height: normal;
    background-color: transparent;
}

button,
select {
    text-transform: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    width: inherit;
}

a:active,
a:hover {
    outline: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    display: block;
    width: inherit;
    object-fit: cover;
}

textarea {
    resize: none !important;
}

/* header */
@keyframes slideIn {
    0% { 
        transform: translateX(-100px); 
        opacity: 0;
    }

    100% { 
        transform: translateX(0); 
        opacity: 1;
    }
}

.header > div.slideIn {
    animation: slideIn 0.8s ease;
}


.bg-overlay {
    background-color: transparent;
    transition: background-color 0.4s ease-in;
}
.bg-overlay.open {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.5);
}

.gradation {
    background-image: linear-gradient(#6b9080, #6b9080);
    background-size: 0 100%;
}

.gradation:hover {
    background-size: 100% 100%;
    color: white;
}

.hamburger span {
    height: 3px;
    transition: transform 0.4s ease-in-out;
}

/* main */
section {
    min-height: calc(100vh - 96px);
}

.intro-bg {
    background-image: url("./assets/intro-bg.jpg");
    background-attachment: scroll;
}

.intro-bg::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}

.intro-txt {
    transform: translate(-50%, -50%);
}

.category::after {
    content: "";
    position: absolute;
    top: 10px;
    left: -16px;
    width: 1px;
    height: 6px;
    background-color: #ccc;
}

.price-input {
    z-index: 1;
}

.price-input::before {
    content: '$'; 
    position: absolute; 
    bottom: 0;
    margin-bottom: -30px;
    left: 0;
    font-size: 18px;
    z-index: 1;
}

.delete-btn {
    border: 1px solid #dc2323;
    color: #dc2323;
    background-color: #fae0e0;
}

.file-input input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

/* footer */
.footer a::after {
    content: "";
    position: absolute;
    top: 7px;
    right: -14px;
    width: 1px;
    height: 8px;
    background-color: #252422;
}

.footer a:last-child::after {
    display: none;
}

@media screen and (max-width:640px) {
    .header {
        transform: translateX(-300px);
        transition: transform 0.4s ease-in-out;
    }

    .header.open {
        transform: translateX(0);
    }

    main {
        margin-top: 70px;
    }

    section {
        height: auto;
        padding: 60px 0;
    }
}