@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&family=Raleway:wght@300;400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* common style */
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    color: var(--primary);
}

:focus {
    outline: 0;
}

ol,
ul {
    list-style: none;
}

form {
    margin: 0;
}

button,
input {
    line-height: normal;
}

button,
select {
    text-transform: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    width: inherit;
}

a:active,
a:hover {
    outline: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    display: block;
    width: inherit;
}

textarea {
    resize: none !important;
}

main {
    padding-top: 52px;
}